<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job gets the latest contributions from simrel build files (from HEAD of master or branch) and invokes the b3 aggregator with -action CLEAN_BUILD</description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-queueSorter-PrioritySorterJobProperty</string>
      <base-property>
        <originalValue class="hudson.queueSorter.PrioritySorterJobProperty">
          <priority>90</priority>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>true</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-locksandlatches-LockWrapper</string>
      <external-property>
        <originalValue class="hudson.plugins.locksandlatches.LockWrapper">
          <locks>
            <hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
              <name>maintenanceLockBuild</name>
            </hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
          </locks>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.plugins.groovy.SystemGroovy>
            <scriptSource class="hudson.plugins.groovy.FileScriptSource">
              <scriptFile>/shared/simrel/groovyScripts/clearQueue</scriptFile>
            </scriptSource>
            <bindings></bindings>
            <classpath></classpath>
          </hudson.plugins.groovy.SystemGroovy>
          <hudson.tasks.Ant>
            <targets>runAggregatorCleanBuild</targets>
            <antName>apache-ant-1.9.2</antName>
            <buildFile>${WORKSPACE}/org.eclipse.simrel.tools/build.xml</buildFile>
            <properties>BUILD_HOME=${WORKSPACE}
aggrPropertyFile=${WORKSPACE}/org.eclipse.simrel.tools/production.properties
release=mars
BRANCH_BUILD=origin/Mars_maintenance
stagingsegment=maintenance</properties>
          </hudson.tasks.Ant>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>aggregation/final/**/*</artifacts>
          <compressionType>NONE</compressionType>
          <latestOnly>true</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams@us.ibm.com</createdBy>
  <creationTime>1426136108163</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Update:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Configure:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Item.Workspace:ROLE_CALLISTO-DEV</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Item.ExtendedRead:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:mknauer@eclipsesource.com</permission>
      <permission>hudson.model.Item.Read:ROLE_CALLISTO-DEV</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>simrel.mars.runaggregator.base</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>hudson-queueSorter-PrioritySorterJobProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>