<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a manual job. It gets the latest tests (repo report) code and re-runs them against &apos;staging&apos; repository. It&apos;s primary purpose it to test the reports, or make improvements, and be able to run them, without re-running a build. It requires that the &quot;testRepoDirectory&quot; be set in properties, such as &lt;br /&gt;&#xd;
testRepoDirectory=/httpd/download.eclipse.org/releases/staging &lt;br /&gt;&#xd;
And then, since output folder is usually based on the repo, to avoid overwriting staging output, the variable repoOutputDir must be defined, such as to &lt;br /&gt;&#xd;
reportOutputDir=${WORKSPACE}/aggregation/final/buildInfo &lt;br /&gt;&#xd;
Or, leave unset, to replace those results in &apos;staging&apos;. &#xd;
</description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-plugins-emailext-ExtendedEmailPublisher</string>
      <external-property>
        <originalValue class="hudson.plugins.emailext.ExtendedEmailPublisher">
          <recipientList>david_williams@us.ibm.com</recipientList>
          <configuredTriggers>
            <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <attachmentsPattern></attachmentsPattern>
                <attachBuildLog>false</attachBuildLog>
                <compressBuildLog>false</compressBuildLog>
                <sendToDevelopers>false</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
            <hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <attachmentsPattern></attachmentsPattern>
                <attachBuildLog>false</attachBuildLog>
                <compressBuildLog>false</compressBuildLog>
                <sendToDevelopers>false</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
            <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <attachmentsPattern></attachmentsPattern>
                <attachBuildLog>false</attachBuildLog>
                <compressBuildLog>false</compressBuildLog>
                <sendToDevelopers>false</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
            <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <attachmentsPattern></attachmentsPattern>
                <attachBuildLog>false</attachBuildLog>
                <compressBuildLog>false</compressBuildLog>
                <sendToDevelopers>false</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          </configuredTriggers>
          <contentType>text/html</contentType>
          <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
          <defaultContent>$DEFAULT_CONTENT</defaultContent>
          <attachmentsPattern></attachmentsPattern>
          <attachBuildLog>false</attachBuildLog>
          <compressBuildLog>false</compressBuildLog>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Ant>
            <targets>runTests</targets>
            <antName>apache-ant-1.9.2</antName>
            <buildFile>${WORKSPACE}/org.eclipse.simrel.tools/build.xml</buildFile>
            <properties>BUILD_HOME=${WORKSPACE}
aggrPropertyFile=${WORKSPACE}/org.eclipse.simrel.tools/production.properties
release=mars
BRANCH_BUILD=master
stagingsegment=staging
testRepoDirectory=/home/data/httpd/download.eclipse.org/releases/staging
reportOutputDir=${WORKSPACE}/aggregation/final/buildInfo</properties>
          </hudson.tasks.Ant>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>aggregation/final/**/*</artifacts>
          <compressionType>NONE</compressionType>
          <latestOnly>true</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.plugins.git.GitSCM">
          <configVersion>1</configVersion>
          <remoteRepositories>
            <RemoteConfig>
              <name>origin</name>
              <uris>
                <org.eclipse.jgit.transport.URIish>
                  <scheme>git</scheme>
                  <path>/gitroot/simrel/org.eclipse.simrel.build</path>
                  <rawPath>/gitroot/simrel/org.eclipse.simrel.build</rawPath>
                  <port>-1</port>
                  <host>git.eclipse.org</host>
                </org.eclipse.jgit.transport.URIish>
              </uris>
              <pushURIs/>
              <fetch>
                <org.eclipse.jgit.transport.RefSpec>
                  <force>true</force>
                  <wildcard>true</wildcard>
                  <srcName>refs/heads/*</srcName>
                  <dstName>refs/remotes/origin/*</dstName>
                </org.eclipse.jgit.transport.RefSpec>
              </fetch>
              <push/>
              <uploadpack>git-upload-pack</uploadpack>
              <receivepack>git-receive-pack</receivepack>
              <tagopt>AUTO_FOLLOW</tagopt>
              <mirror>false</mirror>
              <timeout>0</timeout>
              <relativeTargetDir>org.eclipse.simrel.build</relativeTargetDir>
            </RemoteConfig>
            <RemoteConfig>
              <name>origin1</name>
              <uris>
                <org.eclipse.jgit.transport.URIish>
                  <scheme>git</scheme>
                  <path>/gitroot/simrel/org.eclipse.simrel.tools</path>
                  <rawPath>/gitroot/simrel/org.eclipse.simrel.tools</rawPath>
                  <port>-1</port>
                  <host>git.eclipse.org</host>
                </org.eclipse.jgit.transport.URIish>
              </uris>
              <pushURIs/>
              <fetch>
                <org.eclipse.jgit.transport.RefSpec>
                  <force>true</force>
                  <wildcard>true</wildcard>
                  <srcName>refs/heads/*</srcName>
                  <dstName>refs/remotes/origin1/*</dstName>
                </org.eclipse.jgit.transport.RefSpec>
              </fetch>
              <push/>
              <uploadpack>git-upload-pack</uploadpack>
              <receivepack>git-receive-pack</receivepack>
              <tagopt>AUTO_FOLLOW</tagopt>
              <mirror>false</mirror>
              <timeout>0</timeout>
              <relativeTargetDir>org.eclipse.simrel.tools</relativeTargetDir>
            </RemoteConfig>
            <RemoteConfig>
              <name>origin2</name>
              <uris>
                <org.eclipse.jgit.transport.URIish>
                  <scheme>git</scheme>
                  <path>/gitroot/simrel/org.eclipse.simrel.tests</path>
                  <rawPath>/gitroot/simrel/org.eclipse.simrel.tests</rawPath>
                  <port>-1</port>
                  <host>git.eclipse.org</host>
                </org.eclipse.jgit.transport.URIish>
              </uris>
              <pushURIs/>
              <fetch>
                <org.eclipse.jgit.transport.RefSpec>
                  <force>true</force>
                  <wildcard>true</wildcard>
                  <srcName>refs/heads/*</srcName>
                  <dstName>refs/remotes/origin2/*</dstName>
                </org.eclipse.jgit.transport.RefSpec>
              </fetch>
              <push/>
              <uploadpack>git-upload-pack</uploadpack>
              <receivepack>git-receive-pack</receivepack>
              <tagopt>AUTO_FOLLOW</tagopt>
              <mirror>false</mirror>
              <timeout>0</timeout>
              <relativeTargetDir>org.eclipse.simrel.tests</relativeTargetDir>
            </RemoteConfig>
          </remoteRepositories>
          <branches>
            <hudson.plugins.git.BranchSpec>
              <name>master</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <mergeOptions/>
          <recursiveSubmodules>true</recursiveSubmodules>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <authorOrCommitter>false</authorOrCommitter>
          <clean>true</clean>
          <wipeOutWorkspace>true</wipeOutWorkspace>
          <pruneBranches>false</pruneBranches>
          <remotePoll>false</remotePoll>
          <ignoreNotifyCommit>false</ignoreNotifyCommit>
          <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
          <gitTool>Default</gitTool>
          <browser class="hudson.plugins.git.browser.CGit">
            <url>http://git.eclipse.org/c/simrel/org.eclipse.simrel.build.git/</url>
          </browser>
          <submoduleCfg class="list"/>
          <includedRegions></includedRegions>
          <excludedRegions></excludedRegions>
          <excludedUsers></excludedUsers>
          <excludedCommits/>
          <gitConfigName></gitConfigName>
          <gitConfigEmail></gitConfigEmail>
          <skipTag>false</skipTag>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </scm-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams@us.ibm.com</createdBy>
  <creationTime>1431287697616</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>simrel.mars.runaggregator.base</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>