<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a manual job. It gets the NEW BRANCH of tests (repo report) code and re-runs them against &apos;staging&apos; repository. It&apos;s primary purpose it to test the reports, or make improvements, and be able to run them, without re-running a build. It requires that the &quot;testRepoDirectory&quot; be set in properties, such as &lt;br /&gt;
testRepoDirectory=/httpd/download.eclipse.org/releases/staging &lt;br /&gt;
And then, since output folder is usually based on the repo, to avoid overwriting staging output, the variable repoOutputDir must be defined, such as to &lt;br /&gt;
reportOutputDir=${WORKSPACE}/aggregation/final/buildInfo &lt;br /&gt;
Or, leave unset, to replace those results in &apos;staging&apos;. 
</description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-queueSorter-PrioritySorterJobProperty</string>
      <base-property>
        <originalValue class="hudson.queueSorter.PrioritySorterJobProperty">
          <priority>100</priority>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <originalValue class="hudson.tasks.Mailer">
          <recipients>dennis.huebner@itemis.de</recipients>
          <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
          <sendToIndividuals>false</sendToIndividuals>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>true</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.junit.JUnitResultArchiver">
          <testResults>test-report/data/junit-report.xml</testResults>
          <keepLongStdio>false</keepLongStdio>
          <testDataPublishers/>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Shell>
            <command>rm -rf ${WORKSPACE}/output/products/ ${WORKSPACE}/test-report/</command>
          </hudson.tasks.Shell>
          <maven-builder>
            <config>
              <installationId>Maven 3.1.1</installationId>
              <goals>clean verify</goals>
              <privateRepository>true</privateRepository>
              <privateTmpdir>true</privateTmpdir>
              <pomFile>git-repo/releng/org.eclipse.simrel.tests.parent/pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <profiles/>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <projects/>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <hudson.tasks.Shell>
            <command>mkdir -p output/products/
cp git-repo/releng/org.eclipse.simrel.tests.product/target/products/*product-* output/products/</command>
          </hudson.tasks.Shell>
          <hudson.tasks.Shell>
            <command>mkdir -p test-report/application/ test-report/reports/reporeports/
tar xfz output/products/org.eclipse.simrel.reports.product-linux.gtk.x86_64.tar.gz -C test-report/application/

# Eclipse SimRel repo - test after build, against staging, for comparison to previous
./test-report/application/simrel-reports -vmargs -Xmx1g -DuseNewApi=true -DreportRepoDir=/home/hudson/genie.simrel/.hudson/jobs/simrel.mars.runaggregator.BUILD/lastSuccessful/archive/aggregation/final/ -DreportOutputDir=${WORKSPACE}/test-report -DreferenceRepo=/home/data/httpd/download.eclipse.org/releases/luna/201502271000</command>
          </hudson.tasks.Shell>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>test-report/data/*,test-report/*.html</artifacts>
          <compressionType>GZIP</compressionType>
          <latestOnly>false</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.plugins.git.GitSCM">
          <configVersion>1</configVersion>
          <remoteRepositories>
            <RemoteConfig>
              <name>origin</name>
              <uris>
                <org.eclipse.jgit.transport.URIish>
                  <scheme>git</scheme>
                  <path>/gitroot/simrel/org.eclipse.simrel.tests.git</path>
                  <rawPath>/gitroot/simrel/org.eclipse.simrel.tests.git</rawPath>
                  <port>-1</port>
                  <host>git.eclipse.org</host>
                </org.eclipse.jgit.transport.URIish>
              </uris>
              <pushURIs/>
              <fetch>
                <org.eclipse.jgit.transport.RefSpec>
                  <force>true</force>
                  <wildcard>true</wildcard>
                  <srcName>refs/heads/*</srcName>
                  <dstName>refs/remotes/origin/*</dstName>
                </org.eclipse.jgit.transport.RefSpec>
              </fetch>
              <push/>
              <uploadpack>git-upload-pack</uploadpack>
              <receivepack>git-receive-pack</receivepack>
              <tagopt>AUTO_FOLLOW</tagopt>
              <mirror>false</mirror>
              <timeout>0</timeout>
              <relativeTargetDir>git-repo</relativeTargetDir>
            </RemoteConfig>
          </remoteRepositories>
          <branches>
            <hudson.plugins.git.BranchSpec>
              <name>origin/dhubner/junit</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <mergeOptions/>
          <recursiveSubmodules>false</recursiveSubmodules>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <authorOrCommitter>false</authorOrCommitter>
          <clean>true</clean>
          <wipeOutWorkspace>false</wipeOutWorkspace>
          <pruneBranches>false</pruneBranches>
          <remotePoll>false</remotePoll>
          <ignoreNotifyCommit>false</ignoreNotifyCommit>
          <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
          <gitTool>Default</gitTool>
          <browser class="hudson.plugins.git.browser.CGit">
            <url>http://git.eclipse.org/c/simrel/org.eclipse.simrel.tests.git/</url>
          </browser>
          <submoduleCfg class="list"/>
          <includedRegions></includedRegions>
          <excludedRegions></excludedRegions>
          <excludedUsers></excludedUsers>
          <excludedCommits/>
          <gitConfigName></gitConfigName>
          <gitConfigEmail></gitConfigEmail>
          <skipTag>false</skipTag>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </scm-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams@us.ibm.com</createdBy>
  <creationTime>1431529863742</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Update:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Configure:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Delete:dennis.huebner@itemis.de</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Delete:dennis.huebner@itemis.de</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>simrel.build.repoReportsAndTests</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>hudson-queueSorter-PrioritySorterJobProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>